<<<<<<< HEAD
<div class="main users-index">
=======
<div class="main users-index">  
>>>>>>> origin/main
  <div class="container">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> origin/main
