<div class="main">
<h1>【Wiblu】利用規約</h1>

<p>この利用規約（以下、「本規約」といいます。）は、【Wiblu】（以下、「当サービス」といいます。）の利用条件を定めるものです。当サービスを利用される場合は、本規約に同意するものとします。</p>

<h2>第1条（利用者）</h2>

<p>１．当サービスを利用することができるのは、法的に契約を履行することができる個人または法人であり、本規約に同意した者に限ります。</p>
<p>２．当サービスを利用することで生じる一切の責任は、利用者が負うものとします。</p>

<h2>第2条（利用料金）</h2>

<p>１．当サービスの利用には、利用者からの利用料金が必要となる場合があります。</p>
<p>２．利用料金は、当サービスが別途定める方法により支払うものとします。</p>
<p>３．利用料金は、一切の事由により返金されないものとします。</p>

<h2>第3条（禁止事項）</h2>

<p>利用者は、以下の行為を行ってはなりません。</p>
<p>１．当サービスの運営に支障を与える行為。</p>
<p>２．当サービスを通じて取得した情報を、当サービスの事前の書面による許可なく第三者に提供、開示、販売等を行う行為。</p>
<p>３．当サービスを商業目的で利用する行為。</p>
<p>４．著作権、商標権、プライバシー権等の知的財産権を侵害する行為。</p>
<p>５．公序良俗に反する行為、法令に違反する行為、その他、当サービスが不適切と判断する行為。</p>

<h2>第4条（投稿に関する規定）</h2>

<p>１．利用者は、当サービスにおいて画像、音楽、歌詞、動画等（以下、「投稿コンテンツ」といいます。）を投稿する場合、自らが投稿した投稿コンテンツに関して一切の責任を負うものとします。</p>
<p>２．投稿コンテンツは、著作権法、肖像権法等の法令に違反しないものに限り投稿することができます。</p>
<p>３．投稿コンテンツが第三者の著作権、肖像権等の権利を侵害している場合、投稿者は自己の責任と費用でその問題を解決するものとします。</p>
<p>４．投稿者が投稿コンテンツに関して著作権等の権利を有する場合、当サービスはその利用権を一時的に当サービス内で再利用することができます。ただし、当サービスにおいて再利用される範囲を超えた利用が必要な場合には、投稿者の許諾を得るものとします。</p>
<p>５．投稿コンテンツの投稿により、当サービスが第三者との紛争に巻き込まれた場合、投稿者は自己の責任と費用でその問題を解決するものとします。</p>
<p>６．投稿者が投稿コンテンツを投稿することで、当サービスが投稿コンテンツを利用することについて同意したものとみなされます。</p>

<h2>第5条（投稿コンテンツの取り扱い）</h2>

<p>１．投稿コンテンツについては、当サービスが必要と判断する範囲内で利用、編集、削除、改変等を行うことができます。</p>
<p>２．当サービスが投稿コンテンツを利用する場合において、利用者は、当サービスに対して、無料で利用する権利を無期限で許諾したものとみなされます。</p>
<p>３．投稿者が投稿コンテンツを削除する場合、当サービスは、削除されるまで当該投稿コンテンツを利用することができます。</p>

<h2>第6条（免責事項）</h2>

<p>１．当サービスは、利用者に対して、当サービスにおける情報、サービス等について、その正確性、確実性、信頼性、有用性等に関する保証は一切行わないものとします。</p>
<p>２．当サービスは、利用者が当サービスを利用して得た情報等によって生じた損害について、一切の責任を負いません。</p>
<p>３．利用者が当サービスを利用することにより、投稿コンテンツが第三者によって不正利用された場合でも、当サービスは一切の責任を負わないものとします。</p>
<p>４．当サービスは、投稿者が投稿コンテンツを利用することによって、第三者の権利を侵害することがないことを保証するものではありません。投稿者は、自己の責任において、投稿コンテンツの利用に関する第三者との紛争を解決するものとします。</p>

<h2>第7条（サービスの停止等）</h2>

<p>１．当サービスは、必要に応じて、事前の通知なしにサービスの全部または一部を停止、中断、変更、または中止することができます。当サービスは、これによって利用者に生じた損害について、一切の責任を負いません。</p>
<p>２．当サービスは、利用者が本利用規約に違反した場合、または当サービスが必要と判断する場合、利用者に事前に通知することなく、当該利用者に対する本サービスの提供を停止することができます。</p>

<h2>第8条（準拠法・裁判管轄）</h2>

<p>１．本利用規約の解釈にあたっては、日本法を準拠法とします。</p>
<p>２．当サービスに関する紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>

<h2>第９条（著作権および知的財産権に関する規定）</h2>

<p>１．ユーザーは、自身が作成したコンテンツに対して著作権や知的財産権があることを保証するものとします。</p>
<p>２．ユーザーは、他人の著作権や知的財産権を侵害しないことを約束します。</p>
<p>３．アプリの運営者は、著作権や知的財産権の侵害行為を行うユーザーの投稿を削除する権利を有します。</p>

<h2>第10条（ユーザーによるコンテンツの使用許可）</h2>

<p>１．ユーザーは、アプリの運営者に対して、自身が投稿したコンテンツに対する非独占的な使用許可を与えるものとします。</p>
<p>２．アプリの運営者は、ユーザーが投稿したコンテンツを、アプリ内で表示、再生、ダウンロードすることができるものとします。</p>

<h2>第11条（コンテンツの利用範囲）</h2>

<p>１．アプリの運営者は、ユーザーが投稿したコンテンツを、アプリ内でのみ使用することができるものとします。</p>
<p>２．アプリの運営者は、ユーザーの許可なく、他のプラットフォームや第三者にコンテンツを提供しないものとします。</p>

<h2>第12条（ユーザーのプライバシー）</h2>

<p>１．アプリの運営者は、ユーザーのプライバシーを尊重し、適切なセキュリティ対策を講じるものとします。</p>
<p>２．ユーザーの個人情報は、法的要件に従って適切に取り扱われるものとします。</p>

<h2>第13条（コンテンツの削除）</h2>

<p>１．アプリの運営者は、不適切または違法なコンテンツを削除する権利を有します。</p>
<p>２．ユーザーがコンテンツを削除したい場合、適切な手続きを行うよう求めるものとします。</p>

<h2>第14条（責任の制限）</h2>

<p>アプリの運営者は、ユーザーが投稿したコンテンツに起因する損害について一切の責任を負わないものとします。</p>


<p>以上の利用規約に同意の上、当サービスをご利用ください。</p>
</div>